<!-- user-registration.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>

    <h2>User Registration</h2>


    <form th:action="@{'/webapp/users/register'}" th:object="${user}" method="post">
        <!-- Add form fields as needed -->
        <label for="userName">Username:</label>
        <input type="text" id="userName" th:field="*{userName}" th:errorclass="${#fields.hasErrors('userName')} ? 'error' : ''" required/>
        <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error"></div>

        <label for="password">Password:</label>
        <input type="text" id="password" th:field="*{password}" required/>
        
         <!--<label for="isDeleted">isDeleted:</label>-->
<input type="hidden" id="isDeleted" th:field="*{deleted}"/>

        <button type="submit">Register</button>
    </form>

    <a th:href="@{'/webapp/users/getAll'}">Back to User List</a>

</body>
</html>
